# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# vscode
.vscode

# other
eclipse
run
run-data
runs

# compiled / logs
*.class
*.log
hs_err_pid*
replay_pid*

# python (tools/)
__pycache__/
*.pyc

# Files from Forge MDK
forge*changelog.txt
